[Unit]
Description=daemon to check for changes in important config files, and backing them up upon change

[Service]
Type=simple
ExecStart=/usr/sbin/backup-sys-files.d
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
